body {
    background-color: lightblue;
  }

  h1 {
    background-color: lightblue;
  }
  .centre {
      font-size: larger;
      font-style: normal;
      color: brown;
      float: right;
  }
  .jomo {
      color: chocolate;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    float: none;
    height: auto;
  }
.align
{
    text-align: center;
    color: crimson;
    text-decoration: cyan;
}
.textbox{
  border: opx solid rgb(24, 78, 196);
  padding: 6px;
  margin: 20px;
  background-color: rgb(230, 104, 21);
  float: left;
  width: 450px;

}
.about{
    display: initial;
}